<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../public/css/estilo.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <title>Academia de tesis</title>
    </head>

    <header class="header">
        <nav class="nav">
            <div class="logo"><img src="../../public/img/Logo.png" alt="s"></div>
            <ul class="menu-horizontal">
                <li><a href="Inicio.html">Inicio</a></li>
                <li>
                    <a href="#">Cursos</a>
                    <ul class="menu-vertical">
                        <li><a href="#">Bachilleres</a></li>
                        <li><a href="#">Estudiantes</a></li>
                        <li><a href="#">Egresados</a></li>
                        <li><a href="#">Abogados Junior</a></li>
                        <li><a href="#">Abogados con o sin experiencia</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Talleres</a>
                    <ul class="menu-vertical">
                        <li><a href="#">Juzgados</a></li>
                        <li><a href="#">Sala Superior</a></li>
                        <li><a href="#">Sala Suprema</a></li>
                    </ul>
                </li>
                <li><a href="">Contáctenos</a></li>
                <li><a href="">Oficinas</a></li>
            </ul>
        </nav>
    </header>

    <body>
        <div class="slide s1">
        </div>
        <div class="slide s2">
        </div>
        <div class="slide s3">
        </div>

        <div class="button right">></div>
        <div class="button left"><</div>
        
        <ul class="pagination">
            <li></li>
            <li></li>
            <li></li>        
        </ul>
            
        <div class="scroll"></div>

        <footer>
            <div class="group-1">
                <div class="box-logo">
                    <figure>
                        <a>
                        </a>
                    </figure>
                </div>
                <div class="box-info">
                    <h2>SOBRE NOSOTROS</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adip isicing elit. Exercitationem, odio.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adip isicing elit. Exercitationem, odio.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adip isicing elit. Exercitationem, odio.</p>
                </div>
                <div class="box-social">
                    <h2>SIGUENOS</h2>
                    <div class="red-social">
                        <a href="#" class=""><i class='bx bxl-facebook-square'></i></a>
                        <a href="#" class=""><i class='bx bxl-instagram-alt'></i></a>
                        <a href="#" class=""><i class='bx bxl-twitter'></i></a>
                        <a href="#" class=""><i class='bx bxl-youtube'></i></a>
                    </div>
                </div>
            </div>
        </footer>
        <script src="../../public/js/funciones.js"></script>
    </body>
</html>