@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Nunito', sans-serif;
}

/* BARRA DE MENU  */

header{
    width: 100%;
    height: 13vh;
}

.nav{
    position: fixed;
    width: 100%;
    background: linear-gradient(to right, #efefbb, #d4d3dd);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px;
    font-size: 18px;
    z-index: 1000;
    transition: all 0.5s ease;
    border-bottom: solid #000000 1px;
}
.nav.active{
    background: linear-gradient(to left, #ffefbaee, #ffffffee);
    padding: 5px;
}
.nav.active .logo,
.nav.active a{
    color: #0077ff;
}
.nav.active a:hover{
    background: #000;
    color: #fff;
}
.header .logo{
    cursor: pointer;
    padding-left: 50px;
}
.header .logo img{
    height: 75px;
    width: auto;
    transition: all 0.3s;
}
.header .logo img:hover{
    transform: scale(1.2);
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-right: 35px;
}
.menu-horizontal li{
    list-style: none;
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.menu-horizontal li a{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}
.menu-horizontal li a:hover{
    padding: 5px 10px;
    background: #000;
    color: #fff;
    border-radius: 15px;
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.851);
    border-radius: 15px;
    margin-top: 15px;
}
.menu-vertical li{
    margin-top: -5px;
    margin-bottom: -8px;
}
.menu-vertical li a{
    display: block;
    color: #000000;
    text-decoration: none;
}
.scroll{
    height: 500px;
}

/* CARRUSEL */

.slider{
    position: relative; /* Necesario para posicionar las imágenes */
    width: 100%; /* Ancho del carrusel */
    height: 800px; /* Altura del carrusel */
    overflow: hidden; /* Ocultar el desbordamiento */
    margin-top: -27px;

}
.slide {
    position: absolute; /* Posición absoluta para superponer las imágenes */
    width: 100%; /* Ancho del carrusel */
    height: 100%; /* Altura del carrusel */
    background-size: cover;
    transition: opacity 0.5s ease;
    opacity: 0;
}
.slide.active {
opacity: 1; /* Mostramos la imagen activa */
}
.s1 {
    background-image: url(../img/img1.jpeg);
    background-size: 100% 100%;
    
}
.s2 {
    background-image: url(../img/img2.jpeg);
    background-size: 100% 100%;
}
.s3 {
    background-image: url(../img/img3.jpeg);
    background-size: 100% 100%;
}
.button {
    font-size: 25pt;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    position: absolute;
    top: 40%;
    background-color: rgba(0,0,0,0.8);
    padding: 0px 10px;
    cursor: pointer;
    border-radius: 50px;
}
.button:hover {
    background-color: rgba(255,255,255,0.4);
    transition: 0.5s;
    color: black;
}
.right {
    right: 10px;
}
.left {
    left: 10px;
}

/*PAGINATION*/

.pagination {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 125px;
    text-align: center;
    height: 0px;
}
.pagination li {
    list-style: none;
    width: 25px;
    height: 25px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    
}
.pagination li:hover {
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
}

/*CONTENT*/
.linea {
    border-top: 8px solid rgba(207,207,207);
    height: 2px;
    max-width: 91px;
    padding: 0;
    margin: 50px auto 0 auto;
}
.title-text{
    color: #9a8b06 ;
    padding: 25px;
    font-size: 40px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
.container-info{
    display: flex;
    margin-top: 70px;
}
.container-text-info{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    flex-direction: row;
    margin-left: 120px;
}
.container-img-info{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    margin-right: 200px;
}
.text-title{
    font-size: 46px;
    text-align: center;
    padding: 20px;
    font-family: 'Concert One', sans-serif;
}
.text-info {
    flex: 1;
    font-size: 25px;
    line-height: 1.5;
    font-family: 'Signika', sans-serif;
}
.text-info p{
    margin-bottom: 15px;
}
.image-info {
    flex: 1;
    margin-left: 10px;
}
.image-info img {
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: block;
    margin: 0 auto;
}
/*BUTTON-UP*/
#button-up{
    width: 60px;
    height: 60px;
    background: #46a2fd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
    transform: scale(0);
}

#button-up:hover{
    transform: scale(1.1);
    border-color: rgba(0,0,0,0.1);
}
/* FOOTER */
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
    margin-top: 20px;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}